--extra-index-url https://download.pytorch.org/whl/cu121

pygame-ce>=2.0.0
scipy>=1.4.1
gymnasium>=0.26.0
numpy>=1.19.0
stable-baselines3[extra]>=2.0.0
torch>=2.0.0
opencv-python>=4.0.0
tensorboard>=2.13.0